<Client>
  <Albums>
    <md>AlbumsList.ascx</md>
  </Albums>
  <Contact>
    <md>Contact.ascx</md>
    <md>ContactSucceed.ascx</md>
  </Contact>
  <Faq>
    <md>Faq.ascx</md>
    <md>FaqDetail.ascx</md>
    <md>Question.ascx</md>
  </Faq>
  <MainHome>
    <md>MainHomeListUseJCarousel.ascx</md>
    <md>MainHomeOfficialFrame.ascx</md>
  </MainHome>
  <News>
    <md>NewsgDetail.ascx</md>
    <md>NewsgList.ascx</md>
    <md>NewsgListGroup.ascx</md>
  </News>
  <Official>
    <md>OfficialListGroup.ascx</md>
  </Official>
  <Panel>
    <md>BlockAlbum.ascx</md>
    <md>BlockCounter.ascx</md>
    <md>BlockHotNewsGroup.ascx</md>
    <md>BlockHTMLView.ascx</md>
    <md>BlockMenuLinks.ascx</md>
    <md>BlockPopup.ascx</md>
    <md>BlockSupport.ascx</md>
    <md>BlockVectorMap.ascx</md>
    <md>BlockVideo.ascx</md>
    <md>BlockWebLink.ascx</md>
    <md>Block_Infomation.ascx</md>
  </Panel>
  <Video>
    <md>VideoList.ascx</md>
  </Video>
</Client>