<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ServerName" connectionString="192.168.0.2" />
    <add name="DatabaseName" connectionString="Web_MediLongBien" />
    <add name="UserID" connectionString="sa" />
    <add name="Password" connectionString="13es" />
  </connectionStrings>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.DialogHandler.axd">
    <system.web>
      <authorization>
        <allow roles="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.SpellCheckHandler.axd">
    <system.web>
      <authorization>
        <allow roles="*" />
      </authorization>
    </system.web>
  </location>
    <location path="CaptchaImage.axd">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
  <system.web>
      <httpHandlers>
          <remove verb="*" path="*.asmx"/>
          <add verb ="GET" path ="CaptchaImage.axd" type= "MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      </httpHandlers>
    <pages validateRequest="false"></pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>      
          <handlers>
              <add name="CAPTCHAHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
          </handlers>    
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>