<Client>
  <Albums>
    <md>AlbumsList.ascx</md>
  </Albums>
  <Company>
    <md>CompanyDetailGroup.ascx</md>
  </Company>
  <Contact>
    <md>Contact.ascx</md>
    <md>ContactSucceed.ascx</md>
  </Contact>
  <Faq>
    <md>Faq.ascx</md>
    <md>FaqDetail.ascx</md>
  </Faq>
  <MainHome>
    <md>MainHomeAdvControl.ascx</md>
    <md>MainHomeEventActivity.ascx</md>
    <md>MainHomeHotNews.ascx</md>
    <md>MainHomeNewsActive.ascx</md>
    <md>MainHomeNewsFromICON.ascx</md>
    <md>MainHomeOfficial.ascx</md>
    <md>MainHomeOfficialFrame.ascx</md>
    <md>MainHomeSlideImage.ascx</md>
    <md>MainHomeTabAnnounce.ascx</md>
    <md>MainHomeTabGroupNews.ascx</md>
  </MainHome>
  <Menu>
    <md>MenuBarTabJquery.ascx</md>
    <md>MenuFooter.ascx</md>
  </Menu>
  <News>
    <md>NewsgDetail.ascx</md>
    <md>NewsgList.ascx</md>
    <md>NewsgListGroup.ascx</md>
    <md>NewsList_FromICON.ascx</md>
  </News>
  <Official>
    <md>OfficialDetail.ascx</md>
    <md>OfficialList.ascx</md>
    <md>OfficialListGroup.ascx</md>
  </Official>
  <Panel>
    <md>BlockAlbum.ascx</md>
    <md>BlockCounter.ascx</md>
    <md>BlockLinktoMail.ascx</md>
    <md>BlockMenuLinks.ascx</md>
    <md>BlockPopup.ascx</md>
    <md>BlockSearch.ascx</md>
    <md>BlockVideo.ascx</md>
    <md>BlockWebLink.ascx</md>
  </Panel>
  <Search>
    <md>SearchResult.ascx</md>
  </Search>
  <SiteMap>
    <md>SiteMap.ascx</md>
  </SiteMap>
  <Video>
    <md>VideoList.ascx</md>
  </Video>
</Client>