<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ServerName" connectionString="192.168.0.2" />
    <add name="DatabaseName" connectionString="WEB_NLDC" />
    <add name="UserID" connectionString="sa" />
    <add name="Password" connectionString="13es" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="ImageHandler.aspx" type="CMS.ImageHandler, CMS"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ImageHandler_aspx" verb="*" preCondition="integratedMode" path="ImageHandler.aspx" type="CMS.ImageHandler"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
