<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--SendMail-->
    <add key="WebMail.UserName" value="info.eso36@gmail.com" />
    <add key="WebMail.Pass" value="esolutions@123456" />
    <add key="WebMail.Host" value="smtp.gmail.com" />
    <!--EndSendMail-->
  </appSettings>
  <connectionStrings>
    <!--<add name="ServerName" connectionString="192.168.0.2" />
    <add name="DatabaseName" connectionString="Fomusa-Internet" />
    <add name="UserID" connectionString="sa" />
    <add name="Password" connectionString="13es" />-->
      <!--<add name="ServerName" connectionString="192.168.0.2" />
      <add name="DatabaseName" connectionString="WEB_NLDC" />
      <add name="UserID" connectionString="sa" />
      <add name="Password" connectionString="13es" />-->
      <add name="ServerName" connectionString="192.168.0.2" />
      <add name="DatabaseName" connectionString="WEB_NLDC" />
      <add name="UserID" connectionString="sa" />
      <add name="Password" connectionString="13es" />
      <!--<add name="ServerName" connectionString="192.168.0.2" />
      <add name="DatabaseName" connectionString="HB-Internet" />
      <add name="UserID" connectionString="sa" />
      <add name="Password" connectionString="13es" />-->
  </connectionStrings>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.DialogHandler.axd">
    <system.web>
      <authorization>
        <allow roles="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.SpellCheckHandler.axd">
    <system.web>
      <authorization>
        <allow roles="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/404.aspx">

    </customErrors>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/login" timeout="2880" />
    </authentication>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages validateRequest="false"></pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add verb="*" path="ImageHandler.aspx" type="CMS.ImageHandler, CMS"/>
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="ImageHandler_aspx" verb="*" preCondition="integratedMode" path="ImageHandler.aspx" type="CMS.ImageHandler"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Homepage.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>